body {
  background: #4C9DCB;
  color: black;
  font-family: sans-serif;
}

#container {
}

#messages {
}

.message {
  border-radius: 0.5rem;
  background: #C4DEEE;
  margin: 1rem 0;
  padding: 1rem;
  width: 20rem;
}

.me {
  margin-right: 4rem;
}

.other {
  background: #E7F2F8;
  margin-left: 4rem;
}

#command {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 20rem;
}
